{% extends "summer/layout.html" %}

{% block content %}
  <section class="registration mt-5">
    <div class="row justify-content-md-center">
      <div class="col col-lg-4">

      {% if form.errors %}
        <p class="alert alert-danger">نام کاربری و یا گذرواژه شما اشتباه است.</p>
      {% endif %}
      {% if next %}
        {% if user.is_authenticated %}
          <p>اکانت شما اجازه دسترسی به این صفحه را ندارد.</p>
        {% else %}
          <p>لطفا برای دیدن این صفحه وارد شوید.</p>
        {% endif %}
      {% endif %}

        <form method="post" class="mg-3" action="{% url 'login' %}">
          {% csrf_token %}

          <div class="form-group">
            {{ form.username.label_tag }}
            {{ form.username }}
          </div>
          <div class="form-group">
            {{ form.password.label_tag }}
            {{ form.password }}
          </div>

          <div class="form-group">
            <input class="btn btn-primary" type="submit" value="ورود" />
            <input type="hidden" name="next" value="{{ next }}" />
          </div>
        </form>

        <p><a href="{% url 'password_reset' %}">آیا رمز عبورتان را فراموش کرده اید؟</a></p>
      </div>
  </div>
  </section>
{% endblock %}
