{% extends "summer/layout.html" %}

{% block content %}
  <section class="registration mt-5">
    <div class="row justify-content-md-center">
      <div class="col col-lg-4">

        <form method="post" class="mg-3" action="">
          {% csrf_token %}

          <div class="form-group">
            {{ form.email.label_tag }}
            {{ form.email }}
          </div>
          {% if form.email.errors %}
            {{ form.email.errors }}
          {% endif %}

          <div class="form-group">
            <input class="btn btn-primary" type="submit" value="بازیابی گذرواژه" />
          </div>
        </form>

        <p><a href="{% url 'login' %}">ورود یه وبسایت</a></p>
      </div>
  </div>
  </section>
{% endblock %}
