{% extends "summer/layout.html" %}

{% block content %}
  <section class="registration mt-5">
    <div class="row justify-content-md-center">
      <div class="col col-lg-4">

      {% if validlink %}
          <p>لطفا رمز عبور جدید را وارد کنید.</p>
          <form method="post" class="mg-3" action="">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">

            <div class="form-group">
              {{ form.new_password1.errors }}
              <label for="id_new_password1">رمز عبور جدید:</label>
              {{ form.new_password1 }}
            </div>
            <div class="form-group">
              {{ form.new_password2.errors }}
              <label for="id_new_password1">تایید رمز عبور:</label>
              {{ form.new_password2 }}
            </div>

            <div class="form-group">
              <input class="btn btn-primary" type="submit" value="تغییر رمز عبور" />
            </div>
          </form>

      {% else %}
        <h2>خطا در تغییر رمز عبور:</h2>
        <p class="alert alert-danger">لینک تغییر گذارواژه نا معتبر است، لطفا مجددا درخواست دهید.</p>
        <p><a class="btn btn-primary" href="{% url 'password_reset' %}">فراموشی رمز عبور</a></p>
      {% endif %}
      </div>
  </div>
  </section>
{% endblock %}
